@media screen and (max-width: 768px) {
  .mdOne {
    margin: 1.25rem 0 1.25rem 0;
    width: 60%;
  }
  .mdTwo {
    display: flex;
    flex-direction: column;
  }
  .imgOne {
    width: 50vw;
  }
  .boxOne {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .boxSix {
    width: 90%;
  }
  .boxFive::before {
    bottom: -80px;
    right: -10px;
  }
}

.secOne {
  margin: 0 auto 0 auto;
  min-height: 100%;
  width: 90%;
  padding: 5rem 0 5rem 0;
}

.mdOne {
  margin-top: 3rem;
}

.mdTwo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.mdThree {
  display: flex;
}

.typoOne {
  margin: 1rem 0 1rem 0;
  font-size: medium;
}

.typoTwo {
  color: #FF6B66;
}

.typoThree {
  margin: 1.25rem 0 1.25rem 0;
  color: black;
}

.typoFour {
  margin-bottom: 1.25rem;
  color: black;
}

.boxOne {
  display: flex;
  margin: 2rem auto 0 auto;
  align-items: center;
  justify-content: space-between;
}

.boxTwo {
  position: relative;
}

.boxThree::before {
  position: absolute;
  top: -80px;
  left: -40px;
  z-index: 1;
  content: url(../assets/AbstractWaves.png);
}

.boxFour {
  position: relative;
  margin-top: 4rem;
}

.boxFive::before {
  position: absolute;
  bottom: -40px;
  right: -20px;
  z-index: -1;
  content: url(../assets/Sparkles.png);
}

.boxSix {
  margin: 2rem 0;
  width: 90%;
}

.imgOne {
  margin: 0 auto;
  width: 50vw;
  height: auto;
}

.button {
  width: 50px;
  height: 30px;
  background-color: #FFC132;
  border: none;
  border-radius: 15px;
}

.icon {
  height: 2rem;
  width: 2rem;
}
