@media screen and (max-width: 768px) {
  .secOne {
    width: 100%;
    height: auto;
    gap: 0.1rem;
  }
  .mdOne {
    display: flex;
    width: 100%;
    margin: 0 auto 0 auto;
    flex-direction: column;
  }
  .mdTwo {
    margin-top: 0rem;
  }
  .mdThree {
    flex-direction: column;
  }
  .boxOne {
    flex-basis: 60%;
    width: 100%;
    margin-top: 100px;
  }
  .boxThree::before {
    content: url(../assets/EvolveText.png);
  }
  .boxFour {
    justify-items: end;
    z-index: 10;
  }
  .typoOne {
    font-size: small;
  }
  .imgTwo {
    width: 100%;
  }
}

.secOne {
  gap: 4rem;
  background-color: rgb(239, 239, 239);
  padding: 1rem 0 1rem 0;
}

.mdOne {
  display: flex;
  margin: 0 auto;
  width: 85%;
  align-items: center;
  justify-content: center;
}

.mdThree {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;  
  gap: 1rem;
}

.boxOne {
  z-index: 1;
  margin-top: 100px;
  width: 80%;
}

.boxTwo {
  position: relative;
}

.boxThree::before {
  position: absolute;
  top: -20px;
  left: -20px;
  z-index: -1;
}

.boxFour {
  flex-basis: 60%;
  justify-content: center;
}

.boxFive {
  height: 150px;
  width: 100%;
  padding: 1rem 0;
  background-color: #FFE1E0;
}

.boxSix {
  width: 100%;
}

.boxSev {
  display: flex;
  width: 60%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  gap: 1rem
}

.anchorOne {
  font-size: small;
  font-weight: bold;
  color: #FF6B66;
  text-decoration: none;
}

.anchorOne:hover{
  color: #FFC132;
}

.imgOne {
  width: 90%;
  object-fit: scale-down;
}

.imgTwo {
  width: 90%;
  object-fit: scale-down;
}