@media screen and (max-width: 768px) {
  .secOne {
    width: 100%;
    height: auto;
  }
  .mdOne {
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  .mdThree {
    flex-direction: column;
  }
  .boxOneLeft {
    width: 100%;
    margin-top: 100px;
  }
  .boxFour {
    justify-items: end;
    z-index: 10;
  }
  .typoOne {
    font-size: small;
    text-align: center;
  }
  .imgOne {
    height: 70%
  }
  .imgTwo {
    height: 70%;
  }
}

.secOne {
  width: 100%;
  height: 100%;
  gap: 2rem;
  background-color: rgb(239, 239, 239);
}

.mdOne {
  display: flex;
  margin: 20px auto 0 auto;
  width: 90%;
  align-items: center;
  justify-content: center;
}

.mdTwo {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.mdThree {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.boxOneLeft {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 2rem;
  z-index: 1;
}

.boxFourRight {
  width: 50%;
  z-index: 2;
}

.imgOne {
  width: 100%;
  object-fit: scale-down;
  z-index: 1;
}

.imgTwo {
  width: 80%;
  margin: 0 auto;
  object-fit: scale-down;
  z-index: 5;
}

.boxTwo {
  position: relative;
}

.boxThree::before {
  position: absolute;
  top: -20px;
  left: -20px;
  z-index: -1;
}


.boxFive {
  height: 85px;
  width: 100%;
  padding: 1rem 0;
  background-image: linear-gradient( 135deg, #FFE1E0 20%, #ff98ae 100%);
}

.boxSix {
  width: 100%;
}

.boxSev {
  display: flex;
  width: 60%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  gap: 1rem
}

.anchorOne {
  font-size: small;
  font-weight: bold;
  color: #FF6B66;
  text-decoration: none;
}

.anchorOne:hover{
  color: #FFC132;
}


.imgThree {
  width: 90vw;
  object-fit: scale-down;
  z-index: -10;
  top: -40px;
}