.secOne {
  width: 100%;
  height: auto;
  padding: 10px 0;
  background-image: linear-gradient( 135deg, #FFE1E0 20%, #ff98ae 100%);
}

.mdOne {
  margin: 7rem auto 0 auto;
  width: 83.33%;
}

.boxTwo {
  height: 50%;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.typoOne {
  padding: 10px 0;
}

.ulOne {
  width: 280px;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .boxOne {
    width: 60%;
  }
}